*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    background-color: darkgreen;
    height: 300px;
    width: 100vw;
    color: white;
}

footer{
    background-color: darkred;
    height: 300px;
    width: 100vw;
    color: white;
}

h2{
    width: 1400px;
    margin: 0 auto;
    max-width: 90vw;
}



main{
    width: 100vw;
    height: 1500px;
    background: #333;
}

.activity{
    max-width: 90vw;
    height: 650px;
    margin: 200px auto;
    width: 1400px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.activity > div{
    border-radius: 20px;
    width: 20%;
    background-color: red;
    overflow: hidden;
    height: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.activity > div:nth-child(1){
    height: 100%;
}

.activity > div:nth-child(2){
    height: 55%;
}

.activity > div:nth-child(3){
    height: 35%;
}

.activity > div:nth-child(4){
    height: 100%;
}

.activity > div:nth-child(5){
    height: 45%;
}

.activity > div:nth-child(6){
    height: 45%;
}

.activity__title{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    opacity: 0.5;
    z-index: 5;
}