/* general settings */

*{
    user-select: none;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition-duration: 0.5s;
}

body{
    width: 100vw;
}

a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

h1,h2,h3{
    font-weight: bold;
}

h1{
    font-size: 35px;
    margin-bottom: 20px;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 20px;
}

p{
    font-size: 17px;
}

/* Mise en page du header */

header{
    width: 1463px;
    height: 150px;
    margin: 0 auto;
    max-width: 100vw;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 200px;
    height: 150px;
    position: relative;
}

.links-header{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.links-header a{
    width: 200px;
    height: 100%;
    position: relative;
    color: black;
    line-height: 150px;
    text-decoration: none;
    text-align: center;
}

.links-header a:hover{
    width: 200px;
    height: 100%;
    position: relative;
    color: #0065FC;
}

.links-header a::before{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #F2F2F2;
    transition-duration: 0.2s;
}

.links-header a:nth-child(1)::before{
    background-color: #0065FC;
}

.links-header a:hover::before{
    background-color: #0065FC;
}

.logo-booki{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* main content layout */

main{
    width: 97vw;
    max-width: 1440px;
    margin: 20px auto 0px auto; 
}

/* search button */
form{
    width: 400px;
    height: 55px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    overflow: hidden;
}

.btn-locate{
    background-color: #F2F2F2;
    width: 15%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-locate:hover i{
    transform: rotate(20deg) scale(1.1);
}

input[type="search"]{
    width: 55%;
    height: 100%;
    border: 1px solid #F2F2F2;
    user-select:text;
    padding-left: 20px;
    outline: none;
    font-weight: bolder;
    font-size: 17px;
    color: red;
    color: black;
}

input::placeholder{
    color: #F2F2F2;
}

input:focus{
    border: 3px solid #0065fc;
    border-right: none;
    padding-left: 18px;
}

input[type="submit"]{
    width: 30%;
    height: 100%;
    background-color: #0065fc;
    color: white;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 17px;
    border: none;  
    filter: opacity(0.8);
    padding: 0;
}

input[type="submit"]:hover{
    filter: opacity(1);
}

.loupe{
    display: none;
    width: 16%;
    height: 100%;
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    filter: opacity(0.8);
    line-height: 55px;
    text-align: center;
}

/* filters */

.filters{
    display: flex;
    justify-content: flex-start;
    height: auto;
    align-items: center;
    flex-wrap: wrap;
}

.filters h2{
    line-height: 100px;
    width: 10%;
}

.btn-filter{
    border-radius: 30px;
    height: 60px;
    border : 2px solid #F2F2F2;
    text-align: right;
    padding-right: 20px;
    padding-left: 70px;
    line-height: 55px;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition-property: background-color;
    position: relative;
}

.picto-filters{
    position: absolute;
    background-color: #DEEBFF;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-filter:hover{
    background-color: #DEEBFF;
}

.btn-filter:hover .picto-filters{
    background-color: white;
}

/* active button */

.btn-filter.btn-filter-active{
    background-color: #DEEBFF;
}

.btn-filter.btn-filter-active .picto-filters{
    background-color: white;
}

/* Informations nombres logements */

.filters + p{
    margin-bottom: 30px;
    line-height: 30px;
}
.fa-info-circle{
    color: #0065FC;
    margin-right: 30px;
    font-size: 30px;
    vertical-align:-10%;
}

/* accommodation section */
section.accommodation{
    height: 530px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 2em;
    margin-bottom: 50px;
}

.list-accomodations{
    padding: 30px;
    padding-top: 50px;
    background-color: #F2F2F2;
    grid-column: 1/3;
    grid-row: 1/3;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content:center;
    flex-wrap: wrap;
}

.list-accomodations h2{
    position: absolute;
    top: 20px;
    left: 20px;
}

.accomodation-item{
    width: 30%;
    border-radius: 20px;
    background-color: white;
    height: 42%;
    margin-bottom: 30px;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
}

.accomodation-item:hover{
    transform: scale(1.05);
    text-decoration: none;
}

.accomodation-item img{
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.accomodation-item div{
    width: 100%;
    height: 40%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.accomodation-item div .rating{
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: 10px;
    height: auto;
}

.more-informations{
    position: absolute;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    font-weight: bolder;
}
.more-informations:hover{
    text-decoration: underline;
}

.populars{
    padding: 30px;
    background-color: #F2F2F2;
    grid-column: 3/4;
    grid-row: 1/3;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
i.fa-chart-line{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 30px;
}
.popular-item{
    height: 25%;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.popular-item .description{
    width: 66%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    position: relative;
    padding-left: 5px;
}

.popular-item img{
    width: 33%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-item:hover{
    transform: scale(1.05);
}

.popular-item p{
    margin-top: 5px;
}

.popular-item .rating{
    position: absolute;
    bottom: 0;
    left: 5px;
}

.popular-item span{
    font-weight: bolder;
}

.fa-star{
    font-size: 17px;
    color : #0065FC;
}

.fa-star.gray-star{
    color : #F2F2F2;
}

/* section activities */

section.activity{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 600px;
    grid-gap: 30px;
    margin: 20px 0px 50px 0px;
}

.activity a{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.activity img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.activity h3{
    height: 60px;
    background-color: whitesmoke;
    padding-left: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 60px;
}

.activity a:hover{
    transform: scale(1.05);
}
.activity a:nth-child(1){
    grid-row: 1/4;
    grid-column: 1/2;
}
.activity a:nth-child(2){
    grid-row: 1/3;
    grid-column: 2/3;
}
.activity a:nth-child(3){
    grid-row: 3/4;
    grid-column: 2/3;
}
.activity a:nth-child(4){
    grid-row: 1/4;
    grid-column: 3/4;
}
.activity a:nth-child(5){
    grid-row: 1/2;
    grid-column: 4/5;
}
.activity a:nth-child(6){
    grid-row: 2/4;
    grid-column: 4/5;
}

/* Mise en page du footer */
footer{
    background-color: #F2F2F2;
    width: 100vw;
    height: auto;
    padding-left: 40px;
}

.footer-flex{
    margin: 0 auto;
    width: 100vw;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
}

footer h3{
    font-weight: bold;
    font-size: 25px;
}

footer li{
    margin-top: 15px;
}

.footer-box{
    width: 33%;
}

/* Responsive desktop */
@media screen and (max-width: 1400px) {

    /* Accomodation responsive */
    section.accommodation{
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .list-accomodations{
        height: 450px;
        order: 2;
        margin-bottom: 50px;
    }
    .populars{
        height: 250px;
        margin-bottom: 50px;
        flex-flow: row wrap;
    }
    .popular-item{
        width: 30%;
        height: 60%;
    }
    .populars h2{
        width: 100%;
    }

    /* Activity responsive */

    section.activity{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .activity a{
        width: 31%;
        height: 45%;
    }
}


/* Responsive tablette */
@media screen and (max-width: 992px) {

    /* RESPONSIVE form */

    form{
        width: 70vw;
        margin: 50px auto 0 auto;
        position: relative;
    }

    /* Filters responsive */
    .filters{
        justify-content: center;
        margin-bottom: 20px;
    }
    .filters h2{
        line-height: 100px;
        width: 100%;
        padding-left: 20px;
        text-align: center;
    }

    .btn-filter{
        margin-bottom: 10px;
    }

    /* Accomodation responsive */
    .populars{
        height: 700px;
        flex-flow: column wrap;
    }
    
    .popular-item{
        width: 100%;
        height: 25%;
    }
    
    .list-accomodations{
        height: 900px;
        margin-bottom: 50px;
    }

    .accomodation-item{
        width: 45%;
        border-radius: 20px;
        background-color: white;
        height: 27%;
        margin-bottom: 30px;
        cursor: pointer;
        padding: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);
    }

    /* Activity Responsive */

    section.activity{
        height: 1100px;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
    }

    .activity a{
        width: 45%;
        height: 31%;
    }

}

/* Responsive smartphone */
@media screen and (max-width: 768px) {

    /* Responsive title */
        h1{
            font-size: 28px;
        }



    /* RESPONSIVE HEADER */

        header{
            height: 150px;
        }
    
        .logo{
            width: 100%;
            height: 75px;
        }
    
        .links-header{
            width: 100%;
            height: 75px;
        }
    
        .links-header a{
            width: 50%;
            line-height: 100px;
        }
    
        .links-header a:hover{
            width: 50%;
            color: #0065FC;
        }
    
        .links-header a::before{
            position: absolute;
            bottom: 0;
        }

    /* RESPONSIVE form */

        form{
            width: 93vw;
            margin: 50px auto 0 auto;
            position: relative;
        }

        input[type="search"]{
            width: 85%;
        }

        input[type="submit"]{
            display: none;
        }

        .loupe{
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            border-radius: 20px;
        }


    /* Accomodation responsive */
    .populars{
        height: 700px;
        padding: 10px;
        justify-content: space-around;
        flex-flow: column wrap;
    }

    .popular-item{
        width: 100%;
        height: 20%;
    }

    .list-accomodations{
        height: 1500px;
        margin-bottom: 50px;
        padding: 10px;
    }

    .accomodation-item{
        width: 100%;
        height: 200px;
    }

    /* ACTIVITIES RESPONSIVE SMARTPHONE */

    section.activity{
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    section.activity a{
        width: 90vw;
        margin: 0 auto;
        height: 250px;
    }

    /* Footer responsive */
    footer{
        padding-left: 0;
    }

    footer li {
        font-size: 20px;
    }

    .footer-flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-box{
        text-align: left;
        margin-top: 50px;
        display: inline-block;
        width: 90vw;
    }

    .footer-box:nth-child(1){
        margin-top: 0px;
    }

}