* {
    user-select: none;
    font-family: Raleway, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
a:hover {
    text-decoration: none;
}
h1,h2,h3 {
    font-weight: 700;
}
h1 {
    font-size: 35px;
    margin-bottom: 20px;
}
h2 {
    font-size: 25px;
}
h2.section-title {
    font-size: 25px;
    width: 1400px;
    margin: 50px auto 20px auto;
    max-width: 90vw;
}
h3 {
    font-size: 20px;
}
p {
    font-size: 17px;
}
.header {
    width: 1400px;
    height: 150px;
    margin: 0 auto;
    max-width: 100vw;
}
.header__nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header__logo {
    width: 200px;
    height: 150px;
    position: relative;
}
.header__links {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.header__link {
    width: 200px;
    height: 100%;
    position: relative;
    line-height: 150px;
    text-align: center;
}
.header__link:hover {
    width: 200px;
    height: 100%;
    position: relative;
    color: #0065fc;
}
.header__link::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #f2f2f2;
}
.header__link--accomodation::before {
    background-color: #0065fc;
}
.header__link:hover::before {
    background-color: #0065fc;
}
.header__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
main {
    max-width: 90vw;
    margin: 20px auto 0 auto;
    width: 1400px;
}

/* FORM */

.form {
    width: 400px;
    height: 55px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    overflow: hidden;
}
.form__position {
    background-color: #f2f2f2;
    width: 15%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.form__position:hover i {
    transform: rotate(20deg) scale(1.1);
}
.form__input {
    width: 55%;
    height: 100%;
    border: 1px solid #f2f2f2;
    user-select: text;
    padding-left: 20px;
    outline: 0;
    font-weight:800;
    font-size: 17px;
    color: #000;
}
.form__input::placeholder {
    color: #f2f2f2;
    font-weight: 800;
}
.form__input:focus {
    border: 3px solid #0065fc;
    border-right: none;
    padding-left: 18px;
}
.form__button {
    width: 30%;
    height: 100%;
    background-color: #0065fc;
    color: #fff;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 17px;
    border: none;
    filter: opacity(0.8);
    padding: 0;
}
.form__button:hover {
    filter: opacity(1);
}
.form__button--glass {
    display: none;
    width: 16%;
    height: 100%;
    background-color: #0065fc;
    color: #fff;
    cursor: pointer;
    filter: opacity(0.8);
    line-height: 55px;
    text-align: center;
}

/* FILTERS */

.filters {
    display: flex;
    justify-content: flex-start;
    height: auto;
    align-items: center;
    flex-wrap: wrap;
}
.filters h2 {
    line-height: 100px;
    width: 10%;
}
.filter__button {
    border-radius: 30px;
    height: 60px;
    border: 2px solid #f2f2f2;
    text-align: right;
    padding: 0 20px 0 70px;
    line-height: 55px;
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition-property: background-color;
    position: relative;
}
.filter__picto {
    position: absolute;
    background-color: #deebff;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #0065fc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter__button:hover {
    background-color: #deebff;
}
.filter__button:hover .filter__picto {
    background-color: #fff;
}




data {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
}
.fa-info-circle {
    color: #0065fc;
    margin-right: 15px;
    font-size: 30px;
    border-radius: 50%;
    align-self: flex-start;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
}

/* ACCOMODATION SECTION */

#accomodation {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.accomodation__item,
.popular__accomodation__item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
}
#accomodation article {
    border-radius: 20px;
}
.accomodation__in__marseille {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f2f2f2;
}
.accomodation__box {
    display : flex;
    flex-direction: column;
    justify-content : space-between;
    align-items : center;
    flex-wrap : wrap;
    width : 95%;
    height : 70%;
    align-self : center;
}
.accomodation__info,
.accomodation__title {
    height: 15%;
    width: 96%;
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: 700;
    align-self: flex-end;
}
.accomodation__info a:hover {
    text-decoration: underline;
}
.accomodation__item {
    height: 45%;
    width: 30%;
    border-radius: 20px;
    padding: 5px;
    background-color: #FFFFFF;
}
.accomodation__item:hover {
    transform: scale(1.05);
}

.accomodation__img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.accomodation__description {
    width: 100%;
    height: 40%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.accomodation__description .rating {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: 10px;
    height: auto;
}

/* POPULARS ACCOMODATION */

.populars__accomodations {
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
}
.populars__accomodations__title {
    width: 85%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populars__accomodation__box {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popular__accomodation__item:hover {
    transform: scale(1.05);
}
.populars__accomodations__title i {
    font-size: 25px;
}

.popular__accomodation__item {
    border-radius: 20px;
    height: 30%;
    width: 85%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.popular__accomodation__description {
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding-left: 5px;
}
.popular__accomodation__img {
    width: 40%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.popular__accomodation__item:hover {
    transform: scale(1.05);
}

.popular__accomodation__description .rating {
    position: absolute;
    bottom: 0;
    left: 5px;
}
.popular__accomodation__description span {
    font-weight: bolder;
}
.fa-star {
    font-size: 17px;
    color: #0065fc;
}
.fa-star.gray-star {
    color: #f2f2f2;
}

/* ACTIVITIES */

.activity {
    max-width: 90vw;
    height: 600px;
    margin: 0 auto;
    width: 1400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.activity__link {
    border-radius: 20px;
    width: 23%;
    overflow: hidden;
    height: 40%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
}
.activity__link:hover {
    transform: scale(1.05);
}
.activity__picture {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.activity__link--1 {
    height: 100%;
}
.activity__link--2 {
    height: 55%;
}
.activity__link--3 {
    height: 35%;
}
.activity__link--4 {
    height: 100%;
}
.activity__link--5, .activity__link--6{
    height: 45%;
}

.activity__title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    z-index: 5;
    margin: 0;
    color: #000;
    line-height: 50px;
    padding-left: 10px;
}

/* FOOTER */

.footer {
    background-color: #f2f2f2;
    width: 100vw;
    height: auto;
    padding-left: 40px;
    margin-top: 50px;
}
.footer__flex {
    margin: 0 auto;
    width: 100vw;
    max-width: 1400px;
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__subtitle {
    font-size: 25px;
}
.footer__link {
    margin-top: 15px;
}
.footer__link:hover {
    text-decoration: underline;
}
.footer__box {
    width: 33%;
}

/* RESPONSIVE DESKTOP */

@media screen and (max-width: 1400px) {
    #accomodation {
        width: 100%;
        height: 900px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .accomodation__in__marseille {
        order: 2;
        height: 60%;
    }
    .populars__accomodations {
        order: 1;
        height: 35%;
    }

    .populars__accomodations__title{
        height: 30%;
        width: 92%;
    }

    .populars__accomodation__box {
        flex-direction: row;
        width: 92%;
    }
    /* .popular__accomodation__description {
        height: 55%;
        width: 30%;
    } */
    .activity {
        flex-direction: row;
    }
    .activity__link{
        height: 45%;
        width: 31%;
    }

}

/* RESPONSIVE TABLET */

@media screen and (max-width: 992px) {
    #accomodation {
        width: 100%;
        height: 1700px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .accomodation__in__marseille {
        height: 60%;
        width: 100%;
    }
    .populars__accomodations {
        height: 35%;
        width: 100%;
    }
    .accomodation__item {
        width: 45%;
        height: 30%;
    }
    .populars__accomodation__box {
        flex-direction: column;
    }
    .popular__accomodation__item {
        height: 30%;
        width: 85%;
    }
    .filters {
        justify-content: center;
        margin-bottom: 20px;
    }
    .filters h2 {
        line-height: 100px;
        width: 100%;
        text-align: left;
    }
    .filter__button {
        margin-bottom: 10px;
    }
    .activity {
        height: 1100px;
    }
    .activity__link{
        height: 28%;
        width: 47%;
    }
    .form {
        width: 70vw;
        margin: 50px auto 0 auto;
        position: relative;
    }
}

/* RESPONSIVE SMARTPHONE */

@media screen and (max-width: 768px) {
    #accomodation {
        height: auto;
    }
    .accomodation__title{
        margin-top: 50px;
        padding: 0;
    }
    .accomodation__in__marseille{
        background-color: transparent;
    }
    .accomodation__info{
        margin-top: 30px;
        width: 100%;
    }
    .populars__accomodations{
        height: 550px;
        width: 110%;
        padding: 0 20px;
        border-radius: 0px;
    }
    .populars__accomodations__title{
        width: 100%;
        height: 15%;
    }

    .populars__accomodation__box{
        width: 100%;
    }

    .popular__accomodation__item{
        width: 100%;
    }

    .accomodation__box {
        flex-direction: column;
        height: 1500px;
        width: 100%;
        margin-top: 30px;
    }
    .accomodation__item {
        width: 100%;
        height: 15%;
    }
    h1 {
        font-size: 25px;
    }
    .activity {
        height: 1500px;
        flex-direction: column;
    }
    .activity__link {
        height: 15%;
        width: 100%;
    }
    .form {
        width: 93vw;
        margin: 50px auto 0 auto;
        position: relative;
    }
    .form__input {
        width: 85%;
    }
    .form__button {
        display: none;
    }
    .form__button--glass {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 20px;
    }
    .header {
        height: 150px;
    }
    .header__logo {
        width: 100%;
        height: 75px;
    }
    .header__links {
        width: 100%;
        height: 75px;
    }
    .header__link {
        width: 50%;
        line-height: 100px;
    }
    .header__link:hover {
        width: 50%;
    }
    .header__link::before {
        position: absolute;
        bottom: 0;
    }
    .footer {
        padding-left: 0;
    }
    .footer__link {
        font-size: 20px;
    }
    .footer__flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__box {
        text-align: left;
        margin-top: 50px;
        display: inline-block;
        width: 90vw;
    }
    .footer__box:nth-child(1) {
        margin-top: 0;
    }
}
